:root {
  --bot-font-family:  'Noto Sans KR', sans-serif;
  --bot-font-size: 16px;
  --bot-font-style: normal;
  --bot-font-weight: 300;
  --bot-letter-spacing: 0px;
  --bot-line-height: 24px;
  --collection-1-skyblue: rgba(80, 161, 255, 1);
  --colors-000: rgba(0, 0, 0, 1);
  --colorsblack: rgba(43, 44, 49, 1);
  --colorsblue-2: rgba(35, 106, 242, 1);
  --colorsdarkblue-1: rgba(64, 86, 113, 1);
  --colorsdarkblue-2: rgba(94, 129, 172, 1);
  --colorsdarkgray-1: rgba(171, 170, 170, 1);
  --colorsdarkgreen-1: rgba(85, 129, 87, 1);
  --colorsfff: rgba(255, 255, 255, 1);
  --colorsgray: rgba(195, 200, 203, 1);
  --colorsgreen-1: rgba(105, 186, 109, 1);
  --colorsmain-blue: rgba(0, 123, 255, 1);
  --colorsred: rgba(241, 91, 91, 1);
  --colorsskyblue-1: rgba(80, 161, 255, 1);
  --colorswhite: rgba(238, 239, 243, 1);
  --default-font-family: "Noto Sans KR", sans-serif;
  --default-font-size: 12px;
  --default-font-style: normal;
  --default-font-weight: 300;
  --default-letter-spacing: 0px;
  --default-line-height: 20px;
  --imoji-font-family:  'Noto Sans KR', sans-serif;
  --imoji-font-size: 120px;
  --imoji-font-style: normal;
  --imoji-font-weight: 500;
  --imoji-letter-spacing: 0px;
  --imoji-line-height: 50px;
  --input-short-font-family: "Noto Sans KR", sans-serif;
  --input-short-font-size: 14px;
  --input-short-font-style: normal;
  --input-short-font-weight: 400;
  --input-short-letter-spacing: 0px;
  --input-short-line-height: 20px;
  --reqular-font-family: "Noto Sans KR", sans-serif;
  --reqular-font-size: 18px;
  --reqular-font-style: normal;
  --reqular-font-weight: 400;
  --reqular-letter-spacing: 0px;
  --reqular-line-height: 20px;
  --text-xl-font-semibold-font-family: "Inter", sans-serif;
  --text-xl-font-semibold-font-size: 20px;
  --text-xl-font-semibold-font-style: normal;
  --text-xl-font-semibold-font-weight: 600;
  --text-xl-font-semibold-letter-spacing: 0px;
  --text-xl-font-semibold-line-height: 32px;
  --title-big-font-family:  "Noto Sans KR", sans-serif;
  --title-big-font-size: 40px;
  --title-big-font-style: normal;
  --title-big-font-weight: 500;
  --title-big-letter-spacing: 0px;
  --title-big-line-height: 50px;
  --title-font-family:  "Noto Sans KR", sans-serif;
  --title-font-size: 24px;
  --title-font-style: normal;
  --title-font-weight: 500;
  --title-letter-spacing: 0px;
  --title-line-height: 34px;
}
