.index {
  align-items: center;
  background-color: var(--colorsblack);
  border: 1px none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  min-height: 100vh;
  min-width: 300px;
  padding: 0px 30px;
  position: relative;
}

.index .frame-59 {
  align-items: center;
  align-self: stretch;
  background-color: var(--colorsblack);
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 98px;
  padding: 20px 0px;
  position: relative;
  width: 100%;
}

.index .frame-60 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 6px;
  max-width: 340px;
  position: relative;
  width: 100%;
}

.index .logo-8 {
  height: 25px;
  position: relative;
  width: 25px;
}

.index .text-wrapper-15 {
  color: var(--colorswhite);
  font-family: "Noto Sans KR", Helvetica;
  font-size: 18px;
  font-weight: 400;
  height: 18px;
  letter-spacing: 0;
  line-height: 25.2px;
  position: relative;
  white-space: nowrap;
  width: 39px;
}

.index .frame-61 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 66px;
  max-width: 340px;
  padding: 0px 10px;
  position: relative;
  width: 100%;
}

.index .frame-62 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 42px;
  position: relative;
  width: 100%;
}

.index .logo-9 {
  background-image: url(../../../static/img/vector-3d.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 253px;
  position: relative;
  width: 192px;
}

.index .frame-63 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 23px;
  position: relative;
  width: 100%;
}

.index .text-26 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 10px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.index .rimi-11 {
  color: var(--colorswhite);
  flex: 1;
  font-family: var(--title-font-family);
  font-size: var(--title-font-size);
  font-style: var(--title-font-style);
  font-weight: var(--title-font-weight);
  letter-spacing: var(--title-letter-spacing);
  line-height: var(--title-line-height);
  margin-top: -1px;
  position: relative;
}

.index .element-23 {
  color: var(--colorsgray);
  flex: 1;
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  font-style: var(--default-font-style);
  font-weight: var(--default-font-weight);
  letter-spacing: var(--default-letter-spacing);
  line-height: var(--default-line-height);
  margin-top: -1px;
  position: relative;
}

.index .text-wrapper-16 {
  color: #c3c8cb;
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  font-style: var(--default-font-style);
  font-weight: var(--default-font-weight);
  letter-spacing: var(--default-letter-spacing);
  line-height: var(--default-line-height);
}

.index .text-wrapper-17 {
  font-family: var(--default-font-family);
  font-size: var(--default-font-size);
  font-style: var(--default-font-style);
  font-weight: var(--default-font-weight);
  letter-spacing: var(--default-letter-spacing);
  line-height: var(--default-line-height);
}

.index .button-12 {
  align-items: center;
  align-self: stretch;
  background-color: var(--colorsmain-blue);
  border: 1px solid;
  border-color: var(--colorsskyblue-1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 58px;
  justify-content: center;
  max-width: 320px;
  padding: 0px 24px;
  position: relative;
  width: 100%;
}

.index .text-27 {
  color: var(--colorswhite);
  font-family: var(--text-xl-font-semibold-font-family);
  font-size: var(--text-xl-font-semibold-font-size);
  font-style: var(--text-xl-font-semibold-font-style);
  font-weight: var(--text-xl-font-semibold-font-weight);
  letter-spacing: var(--text-xl-font-semibold-letter-spacing);
  line-height: var(--text-xl-font-semibold-line-height);
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}
